/* HeroSearch private styles */


label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 3rem 1rem 1rem 1rem;
}

input {
  padding: 0.5rem;
  width: 100%;
  max-width: 800px;
  height: 2rem;
  box-sizing: border-box;
  display: block;
  margin: 0 1rem 0rem 1rem;
}

input:focus {
  outline: #e30201 auto 1px;
}

li {
  list-style-type: none;
}
.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 800px;
  padding: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin: auto 1rem;
}

.search-result li a:hover {
  background-color: #e30201;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
